<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="com.eclipsesource.widgets.timeago.demo.TimeagoDemo"
            id="com.eclipsesource.widgets.timeago.demo.entrypoint"
            parameter="timeago">
      </entrypoint>
   </extension>

</plugin>
